{% extends 'dashboard.html' %}
{% block content2 %}
    <div class="feedview_background">
        <h2>Posts</h2>
        <div class="feedview_grid">
            {% for feed in feeds %}
                <div class="feedview_gridelement">
                    {% if  feed.image  %}
                        <img src="{{feed.image.url}}" width="100%" height="200px" style="border:1px solid black;">
                    {%endif%}
                    <p>Title:{{ feed.title }}</p>
                    <div>
                        <a href="{%url 'updatefeed' feed.id %}">View</a>
                        <a href="{%url 'deletefeed' feed.id %}">Delete</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}